:root {
    --background-color: #f1f5f9;
    --text-color: #000000;
}

:root[data-theme="dark"] {
    --background-color: #000000;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Пример стилей для ссылок */
a {
    color: var(--text-color);
}

